<div class="auth-container">
    <div class="auth-main-window">
        <div class="auth-item text">
            <span class="auth-header">Вход</span>
        </div>
        <div class="auth-item">
            <input class="auth-login" placeholder="Логин">
        </div>
        <div class="auth-item">
            <input class="auth-password" placeholder="Пароль">
        </div>
        <div class="auth-item">
            <a routerLink="/content"><button class="auth-button button-user">Войти</button></a>
        </div>
        <div class="auth-item text">
            <span class="auth-student-text">либо нажмите сюда, если вы</span>
        </div>
        <div class="auth-item">
            <button class="auth-button button-student">Студент</button>
        </div>
    </div>
</div>