<div class="left-container">
    <div class="left-content-root">
        <div class="logo-zone left-item">
            <span>Logo</span>
        </div>
        <div class="context-versions left-item">
            <app-versions-list></app-versions-list>
        </div>
        <div class="context-tasks left-item">
            <div class="task-item">
                <span class="task-name">Задание 1</span>
            </div>
            <div class="task-item">
                <span class="task-name">Задание 2</span>
            </div>
        </div>
        <div class="change-version left-item">
            <span style="color:#808080;">Если вы хотите изменить вариант, то
              <a routerLink="/auth" class="a-nodec" style="color:#808080;text-decoration: underline;">нажмите сюда</a>
            </span>
        </div>
        <div class="in-auth left-item">
            <a routerLink="/auth" class="a-nodec">
                <span class="auth-link">Войти</span>
            </a>
        </div>
        <div class="left-item"></div>
    </div>
</div>
