<div class="center-content">
    <div class="header-name">
        Лабораторные работы
    </div>
    <div class="content-items">
        <div class="item-card">
            <div class="card-info">
                <div class="info">
                    <div>
                        <span class="text-22">1</span>
                    </div>
                    <div>
                        <span class="text-desc">Работа</span>
                    </div>
                </div>
                <div class="info">
                    <div>
                        <span class="text-22 text-blue">12</span>
                    </div>
                    <div>
                        <span class="text-desc text-blue">Вариант</span>
                    </div>
                </div>
            </div>
            <div class="card-desc">Планы первого порядка. Дробный факторный эксперимент</div>
            <div class="card-link">
                <a routerLink="/content/details" style="color:#fff;text-decoration: none;">Перейти</a>
            </div>
        </div>
        <div class="item-card">
            <div class="card-info">
                <div class="info">
                    <div>
                        <span class="text-22">2</span>
                    </div>
                    <div>
                        <span class="text-desc">Работа</span>
                    </div>
                </div>
                <div class="info">
                    <div>
                        <span class="text-22 text-blue">2</span>
                    </div>
                    <div>
                        <span class="text-desc text-blue">Вариант</span>
                    </div>
                </div>
            </div>
            <div class="card-desc">Дисперсионный анализ</div>
            <div class="card-link">
                <a routerLink="/content/details" style="color:#fff;text-decoration: none;">Перейти</a>
            </div>
        </div>
        <div class="item-card">
            <div class="card-info">
                <div class="info">
                    <div>
                        <span class="text-22">3</span>
                    </div>
                    <div>
                        <span class="text-desc">Работа</span>
                    </div>
                </div>
                <div class="info">
                    <div>
                        <span class="text-22 text-blue">19</span>
                    </div>
                    <div>
                        <span class="text-desc text-blue">Вариант</span>
                    </div>
                </div>
            </div>
            <div class="card-desc">Дисперсионный анализ</div>
            <div class="card-link">
                <a routerLink="/content/details" style="color:#fff;text-decoration: none;">Перейти</a>
            </div>
        </div>
        <div class="item-card">
            <div class="card-info">
                <div class="info">
                    <div>
                        <span class="text-22">4</span>
                    </div>
                    <div>
                        <span class="text-desc">Работа</span>
                    </div>
                </div>
                <div class="info">
                    <div>
                        <span class="text-22 text-blue">11</span>
                    </div>
                    <div>
                        <span class="text-desc text-blue">Вариант</span>
                    </div>
                </div>
            </div>
            <div class="card-desc">Дисперсионный анализ</div>
            <div class="card-link">
                <a routerLink="/content/details" style="color:#fff;text-decoration: none;">Перейти</a>
            </div>
        </div>
    </div>
</div>
