.dialog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .dialog-header {
        text-align: center;
    }
}

.bottom-button {
    margin: 10px;
    display: flex;
    justify-content: center;
    .save-button {
        background-color: #043669;
        color: #fff;
        border-radius: 5px;
        width: 80%;
    }
}
