/* You can add global styles to this file, and also import other style files */

// @font-face {
//     font-family: CeraProLight;
//     src: url("/src/fonts/CeraProLight.woff") format('woff');
// }
@font-face {
    font-family: Untitled22;
    src: url('/src/fonts/test6.woff2') format('woff');
    font-feature-settings: "liga";
}

* {
    font-size: 14px;
    font-family: Untitled22, sans-serif;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.a-nodec {
    text-decoration: none;
}

.a-nodec-w {
    text-decoration: none;
    color: #fff;
}

.a-dec {
    color: black;
}

.inicon {
    font-family: Untitled22 !important;
    font-size: 16px;
}
