<div class="app-versions-container">
    <div class="versions-tools">
        <div class="tool-name">Варианты</div>
        <div class="tool-step">
            <div class="tool-stroke">
                <span class="in-icon" style="padding:5px; border-radius:5px">n_left_min</span>
            </div>
            <div class="tool-stroke">
                <span class="in-icon" style="padding:5px; border-radius:5px">n_right_min</span>
            </div>
        </div>
    </div>
    <div class="versions">
        <div *ngFor="let item of items" class="version">
            <span>{{item}}</span>
        </div>
    </div>
</div>
