.app-versions-container {
    width: 100%;
    .versions-tools {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 10px 0;
        .tool-name {
            font-weight: bold;
        }
        .tool-step {
            display: flex;
            .tool-stroke {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                &:hover {
                    background-color: #ccc;
                    cursor: pointer;
                }
                .in-icon {
                    transition: 0.3s;
                    // border: 1px solid #fff;
                    line-height: 25px;
                    // &:hover {
                    //     border: 1px solid #58A8A8;
                    //     background-color: rgb(88, 168, 168, 0.3);
                    //     transition: 0.3s;
                    //     cursor: pointer;
                    // }
                }
            }
        }
    }
    .versions {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        .version {
            width: 30px;
            height: 30px;
            line-height: 30px;
            border: 1px solid #fff;
            &:hover {
                border: 1px solid #58A8A8;
                background-color: rgb(88, 168, 168, 0.3);
                transition: 0.3s;
                border-radius: 25%;
                cursor: pointer;
            }
        }
    }
}
