<div class="details-container">
    <div class="context-items">
        <div class="item">
            <a href="" class="item-link">
                <span>Работа 1</span>
                <span *ngIf="this._01LabNumber"> ({{this._01LabNumber}}) </span>
            </a>
        </div>
        <div class="item">
            <a href="" class="item-link">
                <span>Работа 2</span>
                <span *ngIf="this._02LabNumber"> ({{this._02LabNumber}}) </span>
            </a>
        </div>
        <div class="item">
            <a href="" class="item-link">
                <span>Работа 3</span>
                <span *ngIf="this._03LabNumber"> ({{this._03LabNumber}}) </span>
            </a>
        </div>
        <div class="item">
            <a href="" class="item-link">
                <span>Работа 4</span>
                <span *ngIf="this._04LabNumber"> ({{this._04LabNumber}}) </span>
            </a>
        </div>
    </div>
    <div class="details-info-board">
        <div class="details-header-container">
            <span class="details-header">Лабораторная работа</span>
        </div>
        <a routerLink="/content/context-edit" class="a-nodec edit-button-link" mat-button *ngIf="!this._authService.isStudent">
            <div class="edit-link-container">
                <div class="edit-link-text-container">
                    <span class="edit-link-text">Редактировать</span>
                </div>
                <div class="edit-link-icon">
                    <span class="in-icon">n_right</span>
                </div>
            </div>
        </a>
    </div>
    <div class="details-content">
        <div>
            <span class="task-name">Задание 1</span>
        </div>
        <div class="task-table">
            <!--Таблица с выборками-->
            <div class="table-grid">
                <!--headers-->
                <div class="table-head t-h-long">1 ф-р / 2 ф-р</div>
                <div class="table-head">1</div>
                <div class="table-head">2</div>
                <div class="table-head">3</div>
                <div class="table-head">4</div>
                <!--rows-->

                <div class="table-row t-r-first">A</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>

                <div class="table-row t-r-first">B</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>

                <div class="table-row t-r-first">C</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>

                <div class="table-row t-r-first">D</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>
            </div>
        </div>
        <div class="download-button">
            <span style="color:#fff">Скачать в .txt</span>
        </div>
    </div>
</div>
