<div class="details-container">
    <div class="context-items">
        <div class="item">
            <a href="" class="item-link">Работа 1 (5)</a>
        </div>
        <div class="item">
            <a href="" class="item-link">Работа 2 (43)</a>
        </div>
        <div class="item">
            <a href="" class="item-link">Работа 3 (29)</a>
        </div>
        <div class="item">
            <a href="" class="item-link">Работа 4 (12)</a>
        </div>
    </div>
    <div class="details-info-board">
        <div>
            <span class="details-header">Лабораторная работа</span>
        </div>
        <div class="edit-button">
            <span class="edit-link"> <a routerLink="/content/context-edit" class="a-nodec">Редактировать</a></span>
        </div>
    </div>
    <div class="details-content">
        <div>
            <span class="task-name">Задание 1</span>
        </div>
        <div class="task-table">
            <!--Таблица с выборками-->
            <div class="table-grid">
                <!--headers-->
                <div class="table-head t-h-long">1 ф-р / 2 ф-р</div>
                <div class="table-head">1</div>
                <div class="table-head">2</div>
                <div class="table-head">3</div>
                <div class="table-head">4</div>
                <!--rows-->

                <div class="table-row t-r-first">A</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>

                <div class="table-row t-r-first">B</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>

                <div class="table-row t-r-first">C</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>

                <div class="table-row t-r-first">D</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>
                <div class="table-row">23;34;123;45</div>
            </div>
        </div>
        <div class="download-button">
            <span>Скачать в .txt</span>
        </div>
    </div>

</div>
